[Unit]
Description=BlueSky pipeline web service
After=network.target

[Service]
User=__BLUESKYWEBUSER__
Group=__BLUESKYWEBGROUP__
Environment=BSPWEB_EXPORT_MODE=__BSPWEB_EXPORT_MODE__ __EXPORT_HOST_KEY__=__EXPORT_HOST_VAL__ __EXPORT_PROTOCOL_KEY__=__EXPORT_PROTOCOL_VAL__ BSPWEB_MONGODB_URL=__BSPWEB_MONGODB_URL__

Restart=on-failure
RestartSec=2

ExecStart=/usr/local/lib/.pyenv/versions/__VIRTUALENV__/bin/bsp-web \
    --log-level=__LOG_LEVEL__ \
    --log-file=__LOG_FILE__

[Install]
WantedBy=multi-user.target










