afconfig==1.1.3
afdatetime==2.0.0
afscripting==2.0.0
amqp==5.1.1
asttokens==2.4.1
backoff==2.2.1
billiard==4.1.0
celery==5.3.4
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.3.2
decorator==5.1.1
dnspython==2.4.2
docker==6.1.3
exceptiongroup==1.1.3
executing==2.0.1
idna==2.10
iniconfig==2.0.0
ipify2==1.1.0
ipython==8.17.2
jedi==0.19.1
kombu==5.3.2
matplotlib-inline==0.1.6
motor==3.3.1
numpy==1.26.1
packaging==23.2
parso==0.8.3
pexpect==4.8.0
pluggy==1.3.0
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.16.1
pymongo==4.5.0
pytest==7.4.2
pytest-cov==4.1.0
python-coveralls==2.9.3
python-dateutil==2.8.2
pytz==2020.5
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
stack-data==0.6.3
timezonefinder==5.1.0
tomli==2.0.1
tornado==6.3.3
traitlets==5.13.0
tzdata==2023.3
urllib3==1.26.18
vine==5.0.0
wcwidth==0.2.9
websocket-client==1.6.4
